pipeline/PL_SAP_PUR_MASTER.json
{
	"name": "PL_SAP_PUR_MASTER",
	"properties": {
		"activities": [
			{
				"name": "AC_CHECK_DB_LOCK_DESTINATION",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_CHECK_ACTIVE_INSIGHTS_DB_LOCK]",
					"storedProcedureParameters": {
						"out_message": {
							"value": "",
							"type": "String"
						},
						"par_debug_messages": {
							"value": {
								"value": "@variables('var_debug_messages')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"par_lock_type": {
							"value": "EXCLUSIVE - PARTIAL",
							"type": "String"
						},
						"par_movement_name": {
							"value": "",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_LEARN_OWNER",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Process PL_PUR_SUB",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "AC_CHECK_DB_LOCK_DESTINATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_SAP_PUR_SUB",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DATA_MOVEMENT_ID": "@variables('DATA_MOVEMENT_ID')"
					}
				}
			}
		],
		"variables": {
			"var_debug_messages": {
				"type": "String"
			},
			"DATA_MOVEMENT_ID": {
				"type": "String"
			},
			"var_Archive_Location": {
				"type": "String"
			},
			"var_destination_type": {
				"type": "String",
				"defaultValue": "DATABASE"
			},
			"var_insights_layer": {
				"type": "String",
				"defaultValue": "CONSUMPTION"
			},
			"var_Movement_Type": {
				"type": "String",
				"defaultValue": "PIPELINE"
			},
			"var_Solution_Name": {
				"type": "String",
				"defaultValue": "LEARN"
			},
			"var_Source_Type": {
				"type": "String",
				"defaultValue": "DATABASE"
			},
			"var_Destination_Name": {
				"type": "String",
				"defaultValue": "shared-concepts"
			},
			"var_Source_Name": {
				"type": "String",
				"defaultValue": "ingest-sapshared"
			}
		},
		"annotations": []
	}
}