pipeline/PL_SAP_DB_DB_EKKO_2.json
{
	"name": "PL_SAP_DB_DB_EKKO_2",
	"properties": {
		"description": "Copy between tables.",
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Columns",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table [dlimp].[sap.ecc.EKKO2]",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(concat(string(variables('v_prefix')),string(variables('v_JsonMapping')),string(variables('v_prefix'))))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQLDB_SOURCE",
						"type": "DatasetReference",
						"parameters": {
							"cw_schema": "dlimp",
							"cw_table": "sap.ecc.EKKO"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SQLDB_SINK",
						"type": "DatasetReference",
						"parameters": {
							"cw_schema": "dlimp",
							"cw_table": "sap.ecc.EKKO2"
						}
					}
				]
			},
			{
				"name": "Lookup Columns",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[insights_batch].[TableSchema2JSON_sap-shared]",
						"storedProcedureParameters": {
							"TableName": {
								"type": "String",
								"value": "sap.ecc.ekko"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLDB_LEARN_GENERIC",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"v_JsonMapping": {
				"type": "String",
				"defaultValue": "[{\"ColumnName\":\"ebeln\",\"type\":\"String\"}]"
			},
			"v_prefix": {
				"type": "String",
				"defaultValue": "{\"type\": \"TabularTranslator\", \"mappings\": "
			},
			"v_suffix": {
				"type": "String",
				"defaultValue": "}"
			}
		},
		"folder": {
			"name": "Dynamic"
		},
		"annotations": []
	}
}