adf-rpr-learn/PartialArmTemplates/ArmTemplate_8_10_2020_12_49_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-rpr-learn"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_SAP_PUR_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AC_CHECK_DB_LOCK_DESTINATION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_CHECK_ACTIVE_INSIGHTS_DB_LOCK]",
							"storedProcedureParameters": {
								"out_message": {
									"value": "",
									"type": "String"
								},
								"par_debug_messages": {
									"value": {
										"value": "@variables('var_debug_messages')",
										"type": "Expression"
									},
									"type": "Boolean"
								},
								"par_lock_type": {
									"value": "EXCLUSIVE - PARTIAL",
									"type": "String"
								},
								"par_movement_name": {
									"value": "",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLDB_LEARN_OWNER",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Process PL_PUR_SUB",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "AC_CHECK_DB_LOCK_DESTINATION",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_SAP_PUR_SUB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"DATA_MOVEMENT_ID": {
									"value": "@variables('DATA_MOVEMENT_ID')",
									"type": "Expression"
								}
							}
						}
					}
				],
				"variables": {
					"var_debug_messages": {
						"type": "String"
					},
					"DATA_MOVEMENT_ID": {
						"type": "String"
					},
					"var_Archive_Location": {
						"type": "String"
					},
					"var_destination_type": {
						"type": "String",
						"defaultValue": "DATABASE"
					},
					"var_insights_layer": {
						"type": "String",
						"defaultValue": "CONSUMPTION"
					},
					"var_Movement_Type": {
						"type": "String",
						"defaultValue": "PIPELINE"
					},
					"var_Solution_Name": {
						"type": "String",
						"defaultValue": "LEARN"
					},
					"var_Source_Type": {
						"type": "String",
						"defaultValue": "DATABASE"
					},
					"var_Destination_Name": {
						"type": "String",
						"defaultValue": "shared-concepts"
					},
					"var_Source_Name": {
						"type": "String",
						"defaultValue": "ingest-sapshared"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_SAP_PUR_SUB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SAP_PUR_SUB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "SAP Purchasing",
				"activities": [
					{
						"name": "CREATE_EXECUTION_INSTANCE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[insights_batch].[usp_Insert_CTLBatch_ExecutionInstance]",
							"storedProcedureParameters": {
								"DataFactoryName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"DataMovementID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "Guid"
								},
								"PipelineTriggerName": {
									"value": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineTriggerStartTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineTriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQLDB_LEARN_OWNER",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Table List",
						"description": "Purchasing Table list from ingest layer (in this case it is a virtual ingest layer created in devinsight01).",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CREATE_EXECUTION_INSTANCE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[insights_batch].[usp_select_source_table]",
								"storedProcedureParameters": {
									"SourceName": {
										"type": "String",
										"value": {
											"value": "@variables('SOURCE_NAME')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLDB_LEARN_GENERIC",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For Each Table",
						"description": "ForEach iteraton to loop table and mappings for copy activity.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Table List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Table List').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Retrieve columns of table",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[insights_batch].[TableSchema2JSON_sap-shared]",
											"storedProcedureParameters": {
												"TableName": {
													"type": "String",
													"value": {
														"value": "@item().TableName",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQLDB_LEARN_GENERIC",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Truncate curated table",
									"description": "Truncate the table in the curated schema before loading new data, e.g. [dlcur].[sap.ecc.ekko].",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Retrieve columns of table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[insights_batch].[usp_truncate_table]",
										"storedProcedureParameters": {
											"SourceName": {
												"value": {
													"value": "@variables('SOURCE_NAME')",
													"type": "Expression"
												},
												"type": "String"
											},
											"TableName": {
												"value": {
													"value": "item().TableName",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_LEARN_OWNER",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy Raw to Curated",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Truncate curated table",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"translator": {
											"value": "@json(string(activity('Retrieve columns of table').output.firstRow.Columns))",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DS_SQLDB_LEARN_SOURCE",
											"type": "DatasetReference",
											"parameters": {
												"cw_tables": "item().TableName"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQLDB_LEARN_SINK",
											"type": "DatasetReference",
											"parameters": {
												"cw_tables": {
													"value": "@item().TableName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Log Successful Table Copy",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy Raw to Curated",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[insights_batch].[usp_Upsert_CTLBatch_DataLoadRegister]",
										"storedProcedureParameters": {
											"DataMovementID": {
												"value": {
													"value": "@pipeline().parameters.DATA_MOVEMENT_ID",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"dataRead": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"dataWritten": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"IsProcessed": {
												"value": "true",
												"type": "Boolean"
											},
											"ItemName": {
												"value": {
													"value": "@item().TableName",
													"type": "Expression"
												},
												"type": "String"
											},
											"Message": {
												"value": null,
												"type": "String"
											},
											"rowsCURDel": {
												"value": null,
												"type": "Int64"
											},
											"rowsCURIns": {
												"value": null,
												"type": "Int64"
											},
											"rowsCURUpd": {
												"value": null,
												"type": "Int64"
											},
											"rowsRAWMerged": {
												"value": null,
												"type": "Int64"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"rowsWritten": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Source": {
												"value": {
													"value": "@variables('SOURCE_NAME')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_LEARN_OWNER",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log Failed Table Copy",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy Raw to Curated",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[insights_batch].[usp_Upsert_CTLBatch_DataLoadRegister]",
										"storedProcedureParameters": {
											"DataMovementID": {
												"value": {
													"value": "@pipeline().parameters.DATA_MOVEMENT_ID",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"dataRead": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.dataRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"dataWritten": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.dataWritten",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"IsProcessed": {
												"value": "false",
												"type": "Boolean"
											},
											"ItemName": {
												"value": {
													"value": "@item().TableName",
													"type": "Expression"
												},
												"type": "String"
											},
											"Message": {
												"value": null,
												"type": "String"
											},
											"rowsCURDel": {
												"value": null,
												"type": "Int64"
											},
											"rowsCURIns": {
												"value": null,
												"type": "Int64"
											},
											"rowsCURUpd": {
												"value": null,
												"type": "Int64"
											},
											"rowsRAWMerged": {
												"value": null,
												"type": "Int64"
											},
											"rowsRead": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.rowsRead",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"rowsWritten": {
												"value": {
													"value": "@activity('Copy Raw to Curated').output.rowsCopied",
													"type": "Expression"
												},
												"type": "Int64"
											},
											"Source": {
												"value": {
													"value": "@variables('SOURCE_NAME')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_SQLDB_LEARN_OWNER",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"DATA_MOVEMENT_ID": {
						"type": "string",
						"defaultValue": "fab11111-08cd-4119-906f-e36c10227a1d"
					}
				},
				"variables": {
					"SOURCE_NAME": {
						"type": "String",
						"defaultValue": "SAP_PUR"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_LEARN_GENERIC')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_LEARN_SOURCE')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_LEARN_SINK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_LEARN_GENERIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_LEARN_SINK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_tables": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dlcur",
					"table": {
						"value": "@dataset().cw_tables",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_LEARN_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_tables": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dlraw",
					"table": {
						"value": "@dataset().cw_tables",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_LEARN_SINK_EKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Static"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EBELN",
						"type": "varchar"
					},
					{
						"name": "BUKRS",
						"type": "varchar"
					},
					{
						"name": "BSTYP",
						"type": "char"
					},
					{
						"name": "BSART",
						"type": "varchar"
					},
					{
						"name": "BSAKZ",
						"type": "char"
					},
					{
						"name": "LOEKZ",
						"type": "char"
					},
					{
						"name": "STATU",
						"type": "char"
					},
					{
						"name": "AEDAT",
						"type": "date"
					},
					{
						"name": "ERNAM",
						"type": "varchar"
					},
					{
						"name": "PINCR",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "LPONR",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "LIFNR",
						"type": "varchar"
					},
					{
						"name": "SPRAS",
						"type": "char"
					},
					{
						"name": "ZTERM",
						"type": "varchar"
					},
					{
						"name": "ZBD1T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD2T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD3T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD1P",
						"type": "decimal",
						"precision": 5,
						"scale": 3
					},
					{
						"name": "ZBD2P",
						"type": "decimal",
						"precision": 5,
						"scale": 3
					},
					{
						"name": "EKORG",
						"type": "varchar"
					},
					{
						"name": "EKGRP",
						"type": "varchar"
					},
					{
						"name": "WAERS",
						"type": "varchar"
					},
					{
						"name": "WKURS",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "KUFIX",
						"type": "char"
					},
					{
						"name": "BEDAT",
						"type": "date"
					},
					{
						"name": "KDATB",
						"type": "date"
					},
					{
						"name": "KDATE",
						"type": "date"
					},
					{
						"name": "BWBDT",
						"type": "date"
					},
					{
						"name": "ANGDT",
						"type": "date"
					},
					{
						"name": "BNDDT",
						"type": "date"
					},
					{
						"name": "GWLDT",
						"type": "date"
					},
					{
						"name": "AUSNR",
						"type": "varchar"
					},
					{
						"name": "ANGNR",
						"type": "varchar"
					},
					{
						"name": "IHRAN",
						"type": "date"
					},
					{
						"name": "IHREZ",
						"type": "varchar"
					},
					{
						"name": "VERKF",
						"type": "varchar"
					},
					{
						"name": "TELF1",
						"type": "varchar"
					},
					{
						"name": "LLIEF",
						"type": "varchar"
					},
					{
						"name": "KUNNR",
						"type": "varchar"
					},
					{
						"name": "KONNR",
						"type": "varchar"
					},
					{
						"name": "ABGRU",
						"type": "varchar"
					},
					{
						"name": "AUTLF",
						"type": "char"
					},
					{
						"name": "WEAKT",
						"type": "char"
					},
					{
						"name": "RESWK",
						"type": "varchar"
					},
					{
						"name": "LBLIF",
						"type": "varchar"
					},
					{
						"name": "INCO1",
						"type": "varchar"
					},
					{
						"name": "INCO2",
						"type": "varchar"
					},
					{
						"name": "KTWRT",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "SUBMI",
						"type": "varchar"
					},
					{
						"name": "KNUMV",
						"type": "varchar"
					},
					{
						"name": "KALSM",
						"type": "varchar"
					},
					{
						"name": "STAFO",
						"type": "varchar"
					},
					{
						"name": "LIFRE",
						"type": "varchar"
					},
					{
						"name": "EXNUM",
						"type": "varchar"
					},
					{
						"name": "UNSEZ",
						"type": "varchar"
					},
					{
						"name": "LOGSY",
						"type": "varchar"
					},
					{
						"name": "UPINC",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "STAKO",
						"type": "char"
					},
					{
						"name": "FRGGR",
						"type": "varchar"
					},
					{
						"name": "FRGSX",
						"type": "varchar"
					},
					{
						"name": "FRGKE",
						"type": "char"
					},
					{
						"name": "FRGZU",
						"type": "varchar"
					},
					{
						"name": "FRGRL",
						"type": "char"
					},
					{
						"name": "LANDS",
						"type": "varchar"
					},
					{
						"name": "LPHIS",
						"type": "char"
					},
					{
						"name": "ADRNR",
						"type": "varchar"
					},
					{
						"name": "STCEG_L",
						"type": "varchar"
					},
					{
						"name": "STCEG",
						"type": "varchar"
					},
					{
						"name": "ABSGR",
						"type": "decimal",
						"precision": 2,
						"scale": 0
					},
					{
						"name": "ADDNR",
						"type": "varchar"
					},
					{
						"name": "KORNR",
						"type": "char"
					},
					{
						"name": "MEMORY",
						"type": "char"
					},
					{
						"name": "PROCSTAT",
						"type": "varchar"
					},
					{
						"name": "RLWRT",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "REVNO",
						"type": "varchar"
					},
					{
						"name": "SCMPROC",
						"type": "char"
					},
					{
						"name": "REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "MEMORYTYPE",
						"type": "char"
					},
					{
						"name": "RETTP",
						"type": "char"
					},
					{
						"name": "RETPC",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "DPTYP",
						"type": "varchar"
					},
					{
						"name": "DPPCT",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "DPAMT",
						"type": "decimal",
						"precision": 11,
						"scale": 2
					},
					{
						"name": "DPDAT",
						"type": "date"
					},
					{
						"name": "MSR_ID",
						"type": "varchar"
					},
					{
						"name": "HIERARCHY_EXISTS",
						"type": "char"
					},
					{
						"name": "THRESHOLD_EXISTS",
						"type": "char"
					},
					{
						"name": "LEGAL_CONTRACT",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "RELEASE_DATE",
						"type": "date"
					},
					{
						"name": "EXTERNALSYSTEM",
						"type": "varchar"
					},
					{
						"name": "EXTERNALREFERENCEID",
						"type": "varchar"
					},
					{
						"name": "FORCE_ID",
						"type": "varchar"
					},
					{
						"name": "FORCE_CNT",
						"type": "decimal",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "RELOC_ID",
						"type": "varchar"
					},
					{
						"name": "RELOC_SEQ_ID",
						"type": "varchar"
					},
					{
						"name": "POHF_TYPE",
						"type": "char"
					},
					{
						"name": "EQ_EINDT",
						"type": "date"
					},
					{
						"name": "EQ_WERKS",
						"type": "varchar"
					},
					{
						"name": "FIXPO",
						"type": "char"
					},
					{
						"name": "EKGRP_ALLOW",
						"type": "char"
					},
					{
						"name": "WERKS_ALLOW",
						"type": "char"
					},
					{
						"name": "CONTRACT_ALLOW",
						"type": "char"
					},
					{
						"name": "PSTYP_ALLOW",
						"type": "char"
					},
					{
						"name": "FIXPO_ALLOW",
						"type": "char"
					},
					{
						"name": "KEY_ID_ALLOW",
						"type": "char"
					},
					{
						"name": "AUREL_ALLOW",
						"type": "char"
					},
					{
						"name": "DELPER_ALLOW",
						"type": "char"
					},
					{
						"name": "EINDT_ALLOW",
						"type": "char"
					},
					{
						"name": "OTB_LEVEL",
						"type": "char"
					},
					{
						"name": "OTB_COND_TYPE",
						"type": "varchar"
					},
					{
						"name": "KEY_ID",
						"type": "decimal",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "OTB_VALUE",
						"type": "decimal",
						"precision": 17,
						"scale": 2
					},
					{
						"name": "OTB_CURR",
						"type": "varchar"
					},
					{
						"name": "OTB_RES_VALUE",
						"type": "decimal",
						"precision": 17,
						"scale": 2
					},
					{
						"name": "OTB_SPEC_VALUE",
						"type": "decimal",
						"precision": 17,
						"scale": 2
					},
					{
						"name": "SPR_RSN_PROFILE",
						"type": "varchar"
					},
					{
						"name": "BUDG_TYPE",
						"type": "varchar"
					},
					{
						"name": "OTB_STATUS",
						"type": "char"
					},
					{
						"name": "OTB_REASON",
						"type": "varchar"
					},
					{
						"name": "CHECK_TYPE",
						"type": "char"
					},
					{
						"name": "CON_OTB_REQ",
						"type": "char"
					},
					{
						"name": "CON_PREBOOK_LEV",
						"type": "char"
					},
					{
						"name": "CON_DISTR_LEV",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dlraw",
					"table": "sap.ecc.EKKO"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_STOR_LEARN_SOURCE_EKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_STOR_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Static"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TEC_EKPO_2020_001.csv",
						"folderPath": "SAP/ECC/TEC",
						"container": "dls-private"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "EBELN",
						"type": "String"
					},
					{
						"name": "EBELP",
						"type": "String"
					},
					{
						"name": "LOEKZ",
						"type": "String"
					},
					{
						"name": "STATU",
						"type": "String"
					},
					{
						"name": "AEDAT",
						"type": "String"
					},
					{
						"name": "TXZ01",
						"type": "String"
					},
					{
						"name": "MATNR",
						"type": "String"
					},
					{
						"name": "EMATN",
						"type": "String"
					},
					{
						"name": "BUKRS",
						"type": "String"
					},
					{
						"name": "WERKS",
						"type": "String"
					},
					{
						"name": "LGORT",
						"type": "String"
					},
					{
						"name": "BEDNR",
						"type": "String"
					},
					{
						"name": "MATKL",
						"type": "String"
					},
					{
						"name": "INFNR",
						"type": "String"
					},
					{
						"name": "IDNLF",
						"type": "String"
					},
					{
						"name": "KTMNG",
						"type": "String"
					},
					{
						"name": "MENGE",
						"type": "String"
					},
					{
						"name": "MEINS",
						"type": "String"
					},
					{
						"name": "BPRME",
						"type": "String"
					},
					{
						"name": "BPUMZ",
						"type": "String"
					},
					{
						"name": "BPUMN",
						"type": "String"
					},
					{
						"name": "UMREZ",
						"type": "String"
					},
					{
						"name": "UMREN",
						"type": "String"
					},
					{
						"name": "NETPR",
						"type": "String"
					},
					{
						"name": "PEINH",
						"type": "String"
					},
					{
						"name": "NETWR",
						"type": "String"
					},
					{
						"name": "BRTWR",
						"type": "String"
					},
					{
						"name": "AGDAT",
						"type": "String"
					},
					{
						"name": "WEBAZ",
						"type": "String"
					},
					{
						"name": "MWSKZ",
						"type": "String"
					},
					{
						"name": "BONUS",
						"type": "String"
					},
					{
						"name": "INSMK",
						"type": "String"
					},
					{
						"name": "SPINF",
						"type": "String"
					},
					{
						"name": "PRSDR",
						"type": "String"
					},
					{
						"name": "SCHPR",
						"type": "String"
					},
					{
						"name": "MAHNZ",
						"type": "String"
					},
					{
						"name": "MAHN1",
						"type": "String"
					},
					{
						"name": "MAHN2",
						"type": "String"
					},
					{
						"name": "MAHN3",
						"type": "String"
					},
					{
						"name": "UEBTO",
						"type": "String"
					},
					{
						"name": "UEBTK",
						"type": "String"
					},
					{
						"name": "UNTTO",
						"type": "String"
					},
					{
						"name": "BWTAR",
						"type": "String"
					},
					{
						"name": "BWTTY",
						"type": "String"
					},
					{
						"name": "ABSKZ",
						"type": "String"
					},
					{
						"name": "AGMEM",
						"type": "String"
					},
					{
						"name": "ELIKZ",
						"type": "String"
					},
					{
						"name": "EREKZ",
						"type": "String"
					},
					{
						"name": "PSTYP",
						"type": "String"
					},
					{
						"name": "KNTTP",
						"type": "String"
					},
					{
						"name": "KZVBR",
						"type": "String"
					},
					{
						"name": "VRTKZ",
						"type": "String"
					},
					{
						"name": "TWRKZ",
						"type": "String"
					},
					{
						"name": "WEPOS",
						"type": "String"
					},
					{
						"name": "WEUNB",
						"type": "String"
					},
					{
						"name": "REPOS",
						"type": "String"
					},
					{
						"name": "WEBRE",
						"type": "String"
					},
					{
						"name": "KZABS",
						"type": "String"
					},
					{
						"name": "LABNR",
						"type": "String"
					},
					{
						"name": "KONNR",
						"type": "String"
					},
					{
						"name": "KTPNR",
						"type": "String"
					},
					{
						"name": "ABDAT",
						"type": "String"
					},
					{
						"name": "ABFTZ",
						"type": "String"
					},
					{
						"name": "ETFZ1",
						"type": "String"
					},
					{
						"name": "ETFZ2",
						"type": "String"
					},
					{
						"name": "KZSTU",
						"type": "String"
					},
					{
						"name": "NOTKZ",
						"type": "String"
					},
					{
						"name": "LMEIN",
						"type": "String"
					},
					{
						"name": "EVERS",
						"type": "String"
					},
					{
						"name": "ZWERT",
						"type": "String"
					},
					{
						"name": "NAVNW",
						"type": "String"
					},
					{
						"name": "ABMNG",
						"type": "String"
					},
					{
						"name": "PRDAT",
						"type": "String"
					},
					{
						"name": "BSTYP",
						"type": "String"
					},
					{
						"name": "EFFWR",
						"type": "String"
					},
					{
						"name": "XOBLR",
						"type": "String"
					},
					{
						"name": "KUNNR",
						"type": "String"
					},
					{
						"name": "ADRNR",
						"type": "String"
					},
					{
						"name": "EKKOL",
						"type": "String"
					},
					{
						"name": "SKTOF",
						"type": "String"
					},
					{
						"name": "STAFO",
						"type": "String"
					},
					{
						"name": "PLIFZ",
						"type": "String"
					},
					{
						"name": "NTGEW",
						"type": "String"
					},
					{
						"name": "GEWEI",
						"type": "String"
					},
					{
						"name": "TXJCD",
						"type": "String"
					},
					{
						"name": "ETDRK",
						"type": "String"
					},
					{
						"name": "SOBKZ",
						"type": "String"
					},
					{
						"name": "ARSNR",
						"type": "String"
					},
					{
						"name": "ARSPS",
						"type": "String"
					},
					{
						"name": "INSNC",
						"type": "String"
					},
					{
						"name": "SSQSS",
						"type": "String"
					},
					{
						"name": "ZGTYP",
						"type": "String"
					},
					{
						"name": "EAN11",
						"type": "String"
					},
					{
						"name": "BSTAE",
						"type": "String"
					},
					{
						"name": "REVLV",
						"type": "String"
					},
					{
						"name": "GEBER",
						"type": "String"
					},
					{
						"name": "FISTL",
						"type": "String"
					},
					{
						"name": "FIPOS",
						"type": "String"
					},
					{
						"name": "KO_GSBER",
						"type": "String"
					},
					{
						"name": "KO_PARGB",
						"type": "String"
					},
					{
						"name": "KO_PRCTR",
						"type": "String"
					},
					{
						"name": "KO_PPRCTR",
						"type": "String"
					},
					{
						"name": "MEPRF",
						"type": "String"
					},
					{
						"name": "BRGEW",
						"type": "String"
					},
					{
						"name": "VOLUM",
						"type": "String"
					},
					{
						"name": "VOLEH",
						"type": "String"
					},
					{
						"name": "INCO1",
						"type": "String"
					},
					{
						"name": "INCO2",
						"type": "String"
					},
					{
						"name": "VORAB",
						"type": "String"
					},
					{
						"name": "KOLIF",
						"type": "String"
					},
					{
						"name": "LTSNR",
						"type": "String"
					},
					{
						"name": "PACKNO",
						"type": "String"
					},
					{
						"name": "FPLNR",
						"type": "String"
					},
					{
						"name": "GNETWR",
						"type": "String"
					},
					{
						"name": "STAPO",
						"type": "String"
					},
					{
						"name": "UEBPO",
						"type": "String"
					},
					{
						"name": "LEWED",
						"type": "String"
					},
					{
						"name": "EMLIF",
						"type": "String"
					},
					{
						"name": "LBLKZ",
						"type": "String"
					},
					{
						"name": "SATNR",
						"type": "String"
					},
					{
						"name": "ATTYP",
						"type": "String"
					},
					{
						"name": "KANBA",
						"type": "String"
					},
					{
						"name": "ADRN2",
						"type": "String"
					},
					{
						"name": "CUOBJ",
						"type": "String"
					},
					{
						"name": "XERSY",
						"type": "String"
					},
					{
						"name": "EILDT",
						"type": "String"
					},
					{
						"name": "DRDAT",
						"type": "String"
					},
					{
						"name": "DRUHR",
						"type": "String"
					},
					{
						"name": "DRUNR",
						"type": "String"
					},
					{
						"name": "AKTNR",
						"type": "String"
					},
					{
						"name": "ABELN",
						"type": "String"
					},
					{
						"name": "ABELP",
						"type": "String"
					},
					{
						"name": "ANZPU",
						"type": "String"
					},
					{
						"name": "PUNEI",
						"type": "String"
					},
					{
						"name": "SAISO",
						"type": "String"
					},
					{
						"name": "SAISJ",
						"type": "String"
					},
					{
						"name": "EBON2",
						"type": "String"
					},
					{
						"name": "EBON3",
						"type": "String"
					},
					{
						"name": "EBONF",
						"type": "String"
					},
					{
						"name": "MLMAA",
						"type": "String"
					},
					{
						"name": "MHDRZ",
						"type": "String"
					},
					{
						"name": "ANFNR",
						"type": "String"
					},
					{
						"name": "ANFPS",
						"type": "String"
					},
					{
						"name": "KZKFG",
						"type": "String"
					},
					{
						"name": "USEQU",
						"type": "String"
					},
					{
						"name": "UMSOK",
						"type": "String"
					},
					{
						"name": "BANFN",
						"type": "String"
					},
					{
						"name": "BNFPO",
						"type": "String"
					},
					{
						"name": "MTART",
						"type": "String"
					},
					{
						"name": "UPTYP",
						"type": "String"
					},
					{
						"name": "UPVOR",
						"type": "String"
					},
					{
						"name": "KZWI1",
						"type": "String"
					},
					{
						"name": "KZWI2",
						"type": "String"
					},
					{
						"name": "KZWI3",
						"type": "String"
					},
					{
						"name": "KZWI4",
						"type": "String"
					},
					{
						"name": "KZWI5",
						"type": "String"
					},
					{
						"name": "KZWI6",
						"type": "String"
					},
					{
						"name": "SIKGR",
						"type": "String"
					},
					{
						"name": "MFZHI",
						"type": "String"
					},
					{
						"name": "FFZHI",
						"type": "String"
					},
					{
						"name": "RETPO",
						"type": "String"
					},
					{
						"name": "AUREL",
						"type": "String"
					},
					{
						"name": "BSGRU",
						"type": "String"
					},
					{
						"name": "LFRET",
						"type": "String"
					},
					{
						"name": "MFRGR",
						"type": "String"
					},
					{
						"name": "NRFHG",
						"type": "String"
					},
					{
						"name": "J_1BNBM",
						"type": "String"
					},
					{
						"name": "J_1BMATUSE",
						"type": "String"
					},
					{
						"name": "J_1BMATORG",
						"type": "String"
					},
					{
						"name": "J_1BOWNPRO",
						"type": "String"
					},
					{
						"name": "J_1BINDUST",
						"type": "String"
					},
					{
						"name": "ABUEB",
						"type": "String"
					},
					{
						"name": "NLABD",
						"type": "String"
					},
					{
						"name": "NFABD",
						"type": "String"
					},
					{
						"name": "KZBWS",
						"type": "String"
					},
					{
						"name": "BONBA",
						"type": "String"
					},
					{
						"name": "FABKZ",
						"type": "String"
					},
					{
						"name": "J_1AINDXP",
						"type": "String"
					},
					{
						"name": "J_1AIDATEP",
						"type": "String"
					},
					{
						"name": "MPROF",
						"type": "String"
					},
					{
						"name": "EGLKZ",
						"type": "String"
					},
					{
						"name": "KZTLF",
						"type": "String"
					},
					{
						"name": "KZFME",
						"type": "String"
					},
					{
						"name": "RDPRF",
						"type": "String"
					},
					{
						"name": "TECHS",
						"type": "String"
					},
					{
						"name": "CHG_SRV",
						"type": "String"
					},
					{
						"name": "CHG_FPLNR",
						"type": "String"
					},
					{
						"name": "MFRPN",
						"type": "String"
					},
					{
						"name": "MFRNR",
						"type": "String"
					},
					{
						"name": "EMNFR",
						"type": "String"
					},
					{
						"name": "NOVET",
						"type": "String"
					},
					{
						"name": "AFNAM",
						"type": "String"
					},
					{
						"name": "TZONRC",
						"type": "String"
					},
					{
						"name": "IPRKZ",
						"type": "String"
					},
					{
						"name": "LEBRE",
						"type": "String"
					},
					{
						"name": "BERID",
						"type": "String"
					},
					{
						"name": "XCONDITIONS",
						"type": "String"
					},
					{
						"name": "APOMS",
						"type": "String"
					},
					{
						"name": "CCOMP",
						"type": "String"
					},
					{
						"name": "GRANT_NBR",
						"type": "String"
					},
					{
						"name": "FKBER",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "RESLO",
						"type": "String"
					},
					{
						"name": "KBLNR",
						"type": "String"
					},
					{
						"name": "KBLPOS",
						"type": "String"
					},
					{
						"name": "WEORA",
						"type": "String"
					},
					{
						"name": "SRV_BAS_COM",
						"type": "String"
					},
					{
						"name": "PRIO_URG",
						"type": "String"
					},
					{
						"name": "PRIO_REQ",
						"type": "String"
					},
					{
						"name": "EMPST",
						"type": "String"
					},
					{
						"name": "DIFF_INVOICE",
						"type": "String"
					},
					{
						"name": "TRMRISK_RELEVANT",
						"type": "String"
					},
					{
						"name": "CREATIONDATE",
						"type": "String"
					},
					{
						"name": "CREATIONTIME",
						"type": "String"
					},
					{
						"name": "SPE_ABGRU",
						"type": "String"
					},
					{
						"name": "SPE_CRM_SO",
						"type": "String"
					},
					{
						"name": "SPE_CRM_SO_ITEM",
						"type": "String"
					},
					{
						"name": "SPE_CRM_REF_SO",
						"type": "String"
					},
					{
						"name": "SPE_CRM_REF_ITEM",
						"type": "String"
					},
					{
						"name": "SPE_CRM_FKREL",
						"type": "String"
					},
					{
						"name": "SPE_CHNG_SYS",
						"type": "String"
					},
					{
						"name": "SPE_INSMK_SRC",
						"type": "String"
					},
					{
						"name": "SPE_CQ_CTRLTYPE",
						"type": "String"
					},
					{
						"name": "SPE_CQ_NOCQ",
						"type": "String"
					},
					{
						"name": "REASON_CODE",
						"type": "String"
					},
					{
						"name": "CQU_SAR",
						"type": "String"
					},
					{
						"name": "ANZSN",
						"type": "String"
					},
					{
						"name": "SPE_EWM_DTC",
						"type": "String"
					},
					{
						"name": "EXLIN",
						"type": "String"
					},
					{
						"name": "EXSNR",
						"type": "String"
					},
					{
						"name": "EHTYP",
						"type": "String"
					},
					{
						"name": "RETPC",
						"type": "String"
					},
					{
						"name": "DPTYP",
						"type": "String"
					},
					{
						"name": "DPPCT",
						"type": "String"
					},
					{
						"name": "DPAMT",
						"type": "String"
					},
					{
						"name": "DPDAT",
						"type": "String"
					},
					{
						"name": "FLS_RSTO",
						"type": "String"
					},
					{
						"name": "EXT_RFX_NUMBER",
						"type": "String"
					},
					{
						"name": "EXT_RFX_ITEM",
						"type": "String"
					},
					{
						"name": "EXT_RFX_SYSTEM",
						"type": "String"
					},
					{
						"name": "SRM_CONTRACT_ID",
						"type": "String"
					},
					{
						"name": "SRM_CONTRACT_ITM",
						"type": "String"
					},
					{
						"name": "BLK_REASON_ID",
						"type": "String"
					},
					{
						"name": "BLK_REASON_TXT",
						"type": "String"
					},
					{
						"name": "ITCONS",
						"type": "String"
					},
					{
						"name": "FIXMG",
						"type": "String"
					},
					{
						"name": "WABWE",
						"type": "String"
					},
					{
						"name": "TC_AUT_DET",
						"type": "String"
					},
					{
						"name": "MANUAL_TC_REASON",
						"type": "String"
					},
					{
						"name": "FISCAL_INCENTIVE",
						"type": "String"
					},
					{
						"name": "TAX_SUBJECT_ST",
						"type": "String"
					},
					{
						"name": "FISCAL_INCENTIVE_ID",
						"type": "String"
					},
					{
						"name": "/BEV1/NEGEN_ITEM",
						"type": "String"
					},
					{
						"name": "/BEV1/NEDEPFREE",
						"type": "String"
					},
					{
						"name": "/BEV1/NESTRUCCAT",
						"type": "String"
					},
					{
						"name": "ADVCODE",
						"type": "String"
					},
					{
						"name": "BUDGET_PD",
						"type": "String"
					},
					{
						"name": "EXCPE",
						"type": "String"
					},
					{
						"name": "FMFGUS_KEY",
						"type": "String"
					},
					{
						"name": "IUID_RELEVANT",
						"type": "String"
					},
					{
						"name": "MRPIND",
						"type": "String"
					},
					{
						"name": "ZZ_CATALOGID",
						"type": "String"
					},
					{
						"name": "ZZ_CATALOGITEM",
						"type": "String"
					},
					{
						"name": "REFSITE",
						"type": "String"
					},
					{
						"name": "REF_ITEM",
						"type": "String"
					},
					{
						"name": "SOURCE_ID",
						"type": "String"
					},
					{
						"name": "SOURCE_KEY",
						"type": "String"
					},
					{
						"name": "PUT_BACK",
						"type": "String"
					},
					{
						"name": "POL_ID",
						"type": "String"
					},
					{
						"name": "CONS_ORDER",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SAP_FILE_TO_DB_EKKO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy EKKO CSV file to DB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EBELN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EBELN",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BUKRS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BUKRS",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BSTYP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BSTYP",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "BSART",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BSART",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BSAKZ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BSAKZ",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "LOEKZ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOEKZ",
											"type": "String",
											"physicalType": "char"
										}
									},
									{
										"source": {
											"name": "STATU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATU",
											"type": "String",
											"physicalType": "char"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_STOR_SOURCE_EKKO",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQLDB_SINK_EKKO",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_STOR_SOURCE_EKKO')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLDB_SINK_EKKO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLDB_SINK_EKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DB Table",
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Static"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EBELN",
						"type": "varchar"
					},
					{
						"name": "BUKRS",
						"type": "varchar"
					},
					{
						"name": "BSTYP",
						"type": "char"
					},
					{
						"name": "BSART",
						"type": "varchar"
					},
					{
						"name": "BSAKZ",
						"type": "char"
					},
					{
						"name": "LOEKZ",
						"type": "char"
					},
					{
						"name": "STATU",
						"type": "char"
					},
					{
						"name": "AEDAT",
						"type": "date"
					},
					{
						"name": "ERNAM",
						"type": "varchar"
					},
					{
						"name": "PINCR",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "LPONR",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "LIFNR",
						"type": "varchar"
					},
					{
						"name": "SPRAS",
						"type": "char"
					},
					{
						"name": "ZTERM",
						"type": "varchar"
					},
					{
						"name": "ZBD1T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD2T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD3T",
						"type": "decimal",
						"precision": 3,
						"scale": 0
					},
					{
						"name": "ZBD1P",
						"type": "decimal",
						"precision": 5,
						"scale": 3
					},
					{
						"name": "ZBD2P",
						"type": "decimal",
						"precision": 5,
						"scale": 3
					},
					{
						"name": "EKORG",
						"type": "varchar"
					},
					{
						"name": "EKGRP",
						"type": "varchar"
					},
					{
						"name": "WAERS",
						"type": "varchar"
					},
					{
						"name": "WKURS",
						"type": "decimal",
						"precision": 9,
						"scale": 5
					},
					{
						"name": "KUFIX",
						"type": "char"
					},
					{
						"name": "BEDAT",
						"type": "date"
					},
					{
						"name": "KDATB",
						"type": "date"
					},
					{
						"name": "KDATE",
						"type": "date"
					},
					{
						"name": "BWBDT",
						"type": "date"
					},
					{
						"name": "ANGDT",
						"type": "date"
					},
					{
						"name": "BNDDT",
						"type": "date"
					},
					{
						"name": "GWLDT",
						"type": "date"
					},
					{
						"name": "AUSNR",
						"type": "varchar"
					},
					{
						"name": "ANGNR",
						"type": "varchar"
					},
					{
						"name": "IHRAN",
						"type": "date"
					},
					{
						"name": "IHREZ",
						"type": "varchar"
					},
					{
						"name": "VERKF",
						"type": "varchar"
					},
					{
						"name": "TELF1",
						"type": "varchar"
					},
					{
						"name": "LLIEF",
						"type": "varchar"
					},
					{
						"name": "KUNNR",
						"type": "varchar"
					},
					{
						"name": "KONNR",
						"type": "varchar"
					},
					{
						"name": "ABGRU",
						"type": "varchar"
					},
					{
						"name": "AUTLF",
						"type": "char"
					},
					{
						"name": "WEAKT",
						"type": "char"
					},
					{
						"name": "RESWK",
						"type": "varchar"
					},
					{
						"name": "LBLIF",
						"type": "varchar"
					},
					{
						"name": "INCO1",
						"type": "varchar"
					},
					{
						"name": "INCO2",
						"type": "varchar"
					},
					{
						"name": "KTWRT",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "SUBMI",
						"type": "varchar"
					},
					{
						"name": "KNUMV",
						"type": "varchar"
					},
					{
						"name": "KALSM",
						"type": "varchar"
					},
					{
						"name": "STAFO",
						"type": "varchar"
					},
					{
						"name": "LIFRE",
						"type": "varchar"
					},
					{
						"name": "EXNUM",
						"type": "varchar"
					},
					{
						"name": "UNSEZ",
						"type": "varchar"
					},
					{
						"name": "LOGSY",
						"type": "varchar"
					},
					{
						"name": "UPINC",
						"type": "decimal",
						"precision": 5,
						"scale": 0
					},
					{
						"name": "STAKO",
						"type": "char"
					},
					{
						"name": "FRGGR",
						"type": "varchar"
					},
					{
						"name": "FRGSX",
						"type": "varchar"
					},
					{
						"name": "FRGKE",
						"type": "char"
					},
					{
						"name": "FRGZU",
						"type": "varchar"
					},
					{
						"name": "FRGRL",
						"type": "char"
					},
					{
						"name": "LANDS",
						"type": "varchar"
					},
					{
						"name": "LPHIS",
						"type": "char"
					},
					{
						"name": "ADRNR",
						"type": "varchar"
					},
					{
						"name": "STCEG_L",
						"type": "varchar"
					},
					{
						"name": "STCEG",
						"type": "varchar"
					},
					{
						"name": "ABSGR",
						"type": "decimal",
						"precision": 2,
						"scale": 0
					},
					{
						"name": "ADDNR",
						"type": "varchar"
					},
					{
						"name": "KORNR",
						"type": "char"
					},
					{
						"name": "MEMORY",
						"type": "char"
					},
					{
						"name": "PROCSTAT",
						"type": "varchar"
					},
					{
						"name": "RLWRT",
						"type": "decimal",
						"precision": 15,
						"scale": 2
					},
					{
						"name": "REVNO",
						"type": "varchar"
					},
					{
						"name": "SCMPROC",
						"type": "char"
					},
					{
						"name": "REASON_CODE",
						"type": "varchar"
					},
					{
						"name": "MEMORYTYPE",
						"type": "char"
					},
					{
						"name": "RETTP",
						"type": "char"
					},
					{
						"name": "RETPC",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "DPTYP",
						"type": "varchar"
					},
					{
						"name": "DPPCT",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "DPAMT",
						"type": "decimal",
						"precision": 11,
						"scale": 2
					},
					{
						"name": "DPDAT",
						"type": "date"
					},
					{
						"name": "MSR_ID",
						"type": "varchar"
					},
					{
						"name": "HIERARCHY_EXISTS",
						"type": "char"
					},
					{
						"name": "THRESHOLD_EXISTS",
						"type": "char"
					},
					{
						"name": "LEGAL_CONTRACT",
						"type": "varchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "RELEASE_DATE",
						"type": "date"
					},
					{
						"name": "EXTERNALSYSTEM",
						"type": "varchar"
					},
					{
						"name": "EXTERNALREFERENCEID",
						"type": "varchar"
					},
					{
						"name": "FORCE_ID",
						"type": "varchar"
					},
					{
						"name": "FORCE_CNT",
						"type": "decimal",
						"precision": 6,
						"scale": 0
					},
					{
						"name": "RELOC_ID",
						"type": "varchar"
					},
					{
						"name": "RELOC_SEQ_ID",
						"type": "varchar"
					},
					{
						"name": "POHF_TYPE",
						"type": "char"
					},
					{
						"name": "EQ_EINDT",
						"type": "date"
					},
					{
						"name": "EQ_WERKS",
						"type": "varchar"
					},
					{
						"name": "FIXPO",
						"type": "char"
					},
					{
						"name": "EKGRP_ALLOW",
						"type": "char"
					},
					{
						"name": "WERKS_ALLOW",
						"type": "char"
					},
					{
						"name": "CONTRACT_ALLOW",
						"type": "char"
					},
					{
						"name": "PSTYP_ALLOW",
						"type": "char"
					},
					{
						"name": "FIXPO_ALLOW",
						"type": "char"
					},
					{
						"name": "KEY_ID_ALLOW",
						"type": "char"
					},
					{
						"name": "AUREL_ALLOW",
						"type": "char"
					},
					{
						"name": "DELPER_ALLOW",
						"type": "char"
					},
					{
						"name": "EINDT_ALLOW",
						"type": "char"
					},
					{
						"name": "OTB_LEVEL",
						"type": "char"
					},
					{
						"name": "OTB_COND_TYPE",
						"type": "varchar"
					},
					{
						"name": "KEY_ID",
						"type": "decimal",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "OTB_VALUE",
						"type": "decimal",
						"precision": 17,
						"scale": 2
					},
					{
						"name": "OTB_CURR",
						"type": "varchar"
					},
					{
						"name": "OTB_RES_VALUE",
						"type": "decimal",
						"precision": 17,
						"scale": 2
					},
					{
						"name": "OTB_SPEC_VALUE",
						"type": "decimal",
						"precision": 17,
						"scale": 2
					},
					{
						"name": "SPR_RSN_PROFILE",
						"type": "varchar"
					},
					{
						"name": "BUDG_TYPE",
						"type": "varchar"
					},
					{
						"name": "OTB_STATUS",
						"type": "char"
					},
					{
						"name": "OTB_REASON",
						"type": "varchar"
					},
					{
						"name": "CHECK_TYPE",
						"type": "char"
					},
					{
						"name": "CON_OTB_REQ",
						"type": "char"
					},
					{
						"name": "CON_PREBOOK_LEV",
						"type": "char"
					},
					{
						"name": "CON_DISTR_LEV",
						"type": "char"
					}
				],
				"typeProperties": {
					"schema": "dlraw",
					"table": "sap.ecc.EKKO"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_STOR_SOURCE_EKKO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "CSV file",
				"linkedServiceName": {
					"referenceName": "LS_STOR_LEARN_OWNER",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Static"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "TEC_EKKO_2020_001.csv",
						"folderPath": "SAP/ECC/TEC/EKKO",
						"container": "dls-private"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "String"
					},
					{
						"name": "EBELN",
						"type": "String"
					},
					{
						"name": "EBELP",
						"type": "String"
					},
					{
						"name": "LOEKZ",
						"type": "String"
					},
					{
						"name": "STATU",
						"type": "String"
					},
					{
						"name": "AEDAT",
						"type": "String"
					},
					{
						"name": "TXZ01",
						"type": "String"
					},
					{
						"name": "MATNR",
						"type": "String"
					},
					{
						"name": "EMATN",
						"type": "String"
					},
					{
						"name": "BUKRS",
						"type": "String"
					},
					{
						"name": "WERKS",
						"type": "String"
					},
					{
						"name": "LGORT",
						"type": "String"
					},
					{
						"name": "BEDNR",
						"type": "String"
					},
					{
						"name": "MATKL",
						"type": "String"
					},
					{
						"name": "INFNR",
						"type": "String"
					},
					{
						"name": "IDNLF",
						"type": "String"
					},
					{
						"name": "KTMNG",
						"type": "String"
					},
					{
						"name": "MENGE",
						"type": "String"
					},
					{
						"name": "MEINS",
						"type": "String"
					},
					{
						"name": "BPRME",
						"type": "String"
					},
					{
						"name": "BPUMZ",
						"type": "String"
					},
					{
						"name": "BPUMN",
						"type": "String"
					},
					{
						"name": "UMREZ",
						"type": "String"
					},
					{
						"name": "UMREN",
						"type": "String"
					},
					{
						"name": "NETPR",
						"type": "String"
					},
					{
						"name": "PEINH",
						"type": "String"
					},
					{
						"name": "NETWR",
						"type": "String"
					},
					{
						"name": "BRTWR",
						"type": "String"
					},
					{
						"name": "AGDAT",
						"type": "String"
					},
					{
						"name": "WEBAZ",
						"type": "String"
					},
					{
						"name": "MWSKZ",
						"type": "String"
					},
					{
						"name": "BONUS",
						"type": "String"
					},
					{
						"name": "INSMK",
						"type": "String"
					},
					{
						"name": "SPINF",
						"type": "String"
					},
					{
						"name": "PRSDR",
						"type": "String"
					},
					{
						"name": "SCHPR",
						"type": "String"
					},
					{
						"name": "MAHNZ",
						"type": "String"
					},
					{
						"name": "MAHN1",
						"type": "String"
					},
					{
						"name": "MAHN2",
						"type": "String"
					},
					{
						"name": "MAHN3",
						"type": "String"
					},
					{
						"name": "UEBTO",
						"type": "String"
					},
					{
						"name": "UEBTK",
						"type": "String"
					},
					{
						"name": "UNTTO",
						"type": "String"
					},
					{
						"name": "BWTAR",
						"type": "String"
					},
					{
						"name": "BWTTY",
						"type": "String"
					},
					{
						"name": "ABSKZ",
						"type": "String"
					},
					{
						"name": "AGMEM",
						"type": "String"
					},
					{
						"name": "ELIKZ",
						"type": "String"
					},
					{
						"name": "EREKZ",
						"type": "String"
					},
					{
						"name": "PSTYP",
						"type": "String"
					},
					{
						"name": "KNTTP",
						"type": "String"
					},
					{
						"name": "KZVBR",
						"type": "String"
					},
					{
						"name": "VRTKZ",
						"type": "String"
					},
					{
						"name": "TWRKZ",
						"type": "String"
					},
					{
						"name": "WEPOS",
						"type": "String"
					},
					{
						"name": "WEUNB",
						"type": "String"
					},
					{
						"name": "REPOS",
						"type": "String"
					},
					{
						"name": "WEBRE",
						"type": "String"
					},
					{
						"name": "KZABS",
						"type": "String"
					},
					{
						"name": "LABNR",
						"type": "String"
					},
					{
						"name": "KONNR",
						"type": "String"
					},
					{
						"name": "KTPNR",
						"type": "String"
					},
					{
						"name": "ABDAT",
						"type": "String"
					},
					{
						"name": "ABFTZ",
						"type": "String"
					},
					{
						"name": "ETFZ1",
						"type": "String"
					},
					{
						"name": "ETFZ2",
						"type": "String"
					},
					{
						"name": "KZSTU",
						"type": "String"
					},
					{
						"name": "NOTKZ",
						"type": "String"
					},
					{
						"name": "LMEIN",
						"type": "String"
					},
					{
						"name": "EVERS",
						"type": "String"
					},
					{
						"name": "ZWERT",
						"type": "String"
					},
					{
						"name": "NAVNW",
						"type": "String"
					},
					{
						"name": "ABMNG",
						"type": "String"
					},
					{
						"name": "PRDAT",
						"type": "String"
					},
					{
						"name": "BSTYP",
						"type": "String"
					},
					{
						"name": "EFFWR",
						"type": "String"
					},
					{
						"name": "XOBLR",
						"type": "String"
					},
					{
						"name": "KUNNR",
						"type": "String"
					},
					{
						"name": "ADRNR",
						"type": "String"
					},
					{
						"name": "EKKOL",
						"type": "String"
					},
					{
						"name": "SKTOF",
						"type": "String"
					},
					{
						"name": "STAFO",
						"type": "String"
					},
					{
						"name": "PLIFZ",
						"type": "String"
					},
					{
						"name": "NTGEW",
						"type": "String"
					},
					{
						"name": "GEWEI",
						"type": "String"
					},
					{
						"name": "TXJCD",
						"type": "String"
					},
					{
						"name": "ETDRK",
						"type": "String"
					},
					{
						"name": "SOBKZ",
						"type": "String"
					},
					{
						"name": "ARSNR",
						"type": "String"
					},
					{
						"name": "ARSPS",
						"type": "String"
					},
					{
						"name": "INSNC",
						"type": "String"
					},
					{
						"name": "SSQSS",
						"type": "String"
					},
					{
						"name": "ZGTYP",
						"type": "String"
					},
					{
						"name": "EAN11",
						"type": "String"
					},
					{
						"name": "BSTAE",
						"type": "String"
					},
					{
						"name": "REVLV",
						"type": "String"
					},
					{
						"name": "GEBER",
						"type": "String"
					},
					{
						"name": "FISTL",
						"type": "String"
					},
					{
						"name": "FIPOS",
						"type": "String"
					},
					{
						"name": "KO_GSBER",
						"type": "String"
					},
					{
						"name": "KO_PARGB",
						"type": "String"
					},
					{
						"name": "KO_PRCTR",
						"type": "String"
					},
					{
						"name": "KO_PPRCTR",
						"type": "String"
					},
					{
						"name": "MEPRF",
						"type": "String"
					},
					{
						"name": "BRGEW",
						"type": "String"
					},
					{
						"name": "VOLUM",
						"type": "String"
					},
					{
						"name": "VOLEH",
						"type": "String"
					},
					{
						"name": "INCO1",
						"type": "String"
					},
					{
						"name": "INCO2",
						"type": "String"
					},
					{
						"name": "VORAB",
						"type": "String"
					},
					{
						"name": "KOLIF",
						"type": "String"
					},
					{
						"name": "LTSNR",
						"type": "String"
					},
					{
						"name": "PACKNO",
						"type": "String"
					},
					{
						"name": "FPLNR",
						"type": "String"
					},
					{
						"name": "GNETWR",
						"type": "String"
					},
					{
						"name": "STAPO",
						"type": "String"
					},
					{
						"name": "UEBPO",
						"type": "String"
					},
					{
						"name": "LEWED",
						"type": "String"
					},
					{
						"name": "EMLIF",
						"type": "String"
					},
					{
						"name": "LBLKZ",
						"type": "String"
					},
					{
						"name": "SATNR",
						"type": "String"
					},
					{
						"name": "ATTYP",
						"type": "String"
					},
					{
						"name": "KANBA",
						"type": "String"
					},
					{
						"name": "ADRN2",
						"type": "String"
					},
					{
						"name": "CUOBJ",
						"type": "String"
					},
					{
						"name": "XERSY",
						"type": "String"
					},
					{
						"name": "EILDT",
						"type": "String"
					},
					{
						"name": "DRDAT",
						"type": "String"
					},
					{
						"name": "DRUHR",
						"type": "String"
					},
					{
						"name": "DRUNR",
						"type": "String"
					},
					{
						"name": "AKTNR",
						"type": "String"
					},
					{
						"name": "ABELN",
						"type": "String"
					},
					{
						"name": "ABELP",
						"type": "String"
					},
					{
						"name": "ANZPU",
						"type": "String"
					},
					{
						"name": "PUNEI",
						"type": "String"
					},
					{
						"name": "SAISO",
						"type": "String"
					},
					{
						"name": "SAISJ",
						"type": "String"
					},
					{
						"name": "EBON2",
						"type": "String"
					},
					{
						"name": "EBON3",
						"type": "String"
					},
					{
						"name": "EBONF",
						"type": "String"
					},
					{
						"name": "MLMAA",
						"type": "String"
					},
					{
						"name": "MHDRZ",
						"type": "String"
					},
					{
						"name": "ANFNR",
						"type": "String"
					},
					{
						"name": "ANFPS",
						"type": "String"
					},
					{
						"name": "KZKFG",
						"type": "String"
					},
					{
						"name": "USEQU",
						"type": "String"
					},
					{
						"name": "UMSOK",
						"type": "String"
					},
					{
						"name": "BANFN",
						"type": "String"
					},
					{
						"name": "BNFPO",
						"type": "String"
					},
					{
						"name": "MTART",
						"type": "String"
					},
					{
						"name": "UPTYP",
						"type": "String"
					},
					{
						"name": "UPVOR",
						"type": "String"
					},
					{
						"name": "KZWI1",
						"type": "String"
					},
					{
						"name": "KZWI2",
						"type": "String"
					},
					{
						"name": "KZWI3",
						"type": "String"
					},
					{
						"name": "KZWI4",
						"type": "String"
					},
					{
						"name": "KZWI5",
						"type": "String"
					},
					{
						"name": "KZWI6",
						"type": "String"
					},
					{
						"name": "SIKGR",
						"type": "String"
					},
					{
						"name": "MFZHI",
						"type": "String"
					},
					{
						"name": "FFZHI",
						"type": "String"
					},
					{
						"name": "RETPO",
						"type": "String"
					},
					{
						"name": "AUREL",
						"type": "String"
					},
					{
						"name": "BSGRU",
						"type": "String"
					},
					{
						"name": "LFRET",
						"type": "String"
					},
					{
						"name": "MFRGR",
						"type": "String"
					},
					{
						"name": "NRFHG",
						"type": "String"
					},
					{
						"name": "J_1BNBM",
						"type": "String"
					},
					{
						"name": "J_1BMATUSE",
						"type": "String"
					},
					{
						"name": "J_1BMATORG",
						"type": "String"
					},
					{
						"name": "J_1BOWNPRO",
						"type": "String"
					},
					{
						"name": "J_1BINDUST",
						"type": "String"
					},
					{
						"name": "ABUEB",
						"type": "String"
					},
					{
						"name": "NLABD",
						"type": "String"
					},
					{
						"name": "NFABD",
						"type": "String"
					},
					{
						"name": "KZBWS",
						"type": "String"
					},
					{
						"name": "BONBA",
						"type": "String"
					},
					{
						"name": "FABKZ",
						"type": "String"
					},
					{
						"name": "J_1AINDXP",
						"type": "String"
					},
					{
						"name": "J_1AIDATEP",
						"type": "String"
					},
					{
						"name": "MPROF",
						"type": "String"
					},
					{
						"name": "EGLKZ",
						"type": "String"
					},
					{
						"name": "KZTLF",
						"type": "String"
					},
					{
						"name": "KZFME",
						"type": "String"
					},
					{
						"name": "RDPRF",
						"type": "String"
					},
					{
						"name": "TECHS",
						"type": "String"
					},
					{
						"name": "CHG_SRV",
						"type": "String"
					},
					{
						"name": "CHG_FPLNR",
						"type": "String"
					},
					{
						"name": "MFRPN",
						"type": "String"
					},
					{
						"name": "MFRNR",
						"type": "String"
					},
					{
						"name": "EMNFR",
						"type": "String"
					},
					{
						"name": "NOVET",
						"type": "String"
					},
					{
						"name": "AFNAM",
						"type": "String"
					},
					{
						"name": "TZONRC",
						"type": "String"
					},
					{
						"name": "IPRKZ",
						"type": "String"
					},
					{
						"name": "LEBRE",
						"type": "String"
					},
					{
						"name": "BERID",
						"type": "String"
					},
					{
						"name": "XCONDITIONS",
						"type": "String"
					},
					{
						"name": "APOMS",
						"type": "String"
					},
					{
						"name": "CCOMP",
						"type": "String"
					},
					{
						"name": "GRANT_NBR",
						"type": "String"
					},
					{
						"name": "FKBER",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "RESLO",
						"type": "String"
					},
					{
						"name": "KBLNR",
						"type": "String"
					},
					{
						"name": "KBLPOS",
						"type": "String"
					},
					{
						"name": "WEORA",
						"type": "String"
					},
					{
						"name": "SRV_BAS_COM",
						"type": "String"
					},
					{
						"name": "PRIO_URG",
						"type": "String"
					},
					{
						"name": "PRIO_REQ",
						"type": "String"
					},
					{
						"name": "EMPST",
						"type": "String"
					},
					{
						"name": "DIFF_INVOICE",
						"type": "String"
					},
					{
						"name": "TRMRISK_RELEVANT",
						"type": "String"
					},
					{
						"name": "CREATIONDATE",
						"type": "String"
					},
					{
						"name": "CREATIONTIME",
						"type": "String"
					},
					{
						"name": "SPE_ABGRU",
						"type": "String"
					},
					{
						"name": "SPE_CRM_SO",
						"type": "String"
					},
					{
						"name": "SPE_CRM_SO_ITEM",
						"type": "String"
					},
					{
						"name": "SPE_CRM_REF_SO",
						"type": "String"
					},
					{
						"name": "SPE_CRM_REF_ITEM",
						"type": "String"
					},
					{
						"name": "SPE_CRM_FKREL",
						"type": "String"
					},
					{
						"name": "SPE_CHNG_SYS",
						"type": "String"
					},
					{
						"name": "SPE_INSMK_SRC",
						"type": "String"
					},
					{
						"name": "SPE_CQ_CTRLTYPE",
						"type": "String"
					},
					{
						"name": "SPE_CQ_NOCQ",
						"type": "String"
					},
					{
						"name": "REASON_CODE",
						"type": "String"
					},
					{
						"name": "CQU_SAR",
						"type": "String"
					},
					{
						"name": "ANZSN",
						"type": "String"
					},
					{
						"name": "SPE_EWM_DTC",
						"type": "String"
					},
					{
						"name": "EXLIN",
						"type": "String"
					},
					{
						"name": "EXSNR",
						"type": "String"
					},
					{
						"name": "EHTYP",
						"type": "String"
					},
					{
						"name": "RETPC",
						"type": "String"
					},
					{
						"name": "DPTYP",
						"type": "String"
					},
					{
						"name": "DPPCT",
						"type": "String"
					},
					{
						"name": "DPAMT",
						"type": "String"
					},
					{
						"name": "DPDAT",
						"type": "String"
					},
					{
						"name": "FLS_RSTO",
						"type": "String"
					},
					{
						"name": "EXT_RFX_NUMBER",
						"type": "String"
					},
					{
						"name": "EXT_RFX_ITEM",
						"type": "String"
					},
					{
						"name": "EXT_RFX_SYSTEM",
						"type": "String"
					},
					{
						"name": "SRM_CONTRACT_ID",
						"type": "String"
					},
					{
						"name": "SRM_CONTRACT_ITM",
						"type": "String"
					},
					{
						"name": "BLK_REASON_ID",
						"type": "String"
					},
					{
						"name": "BLK_REASON_TXT",
						"type": "String"
					},
					{
						"name": "ITCONS",
						"type": "String"
					},
					{
						"name": "FIXMG",
						"type": "String"
					},
					{
						"name": "WABWE",
						"type": "String"
					},
					{
						"name": "TC_AUT_DET",
						"type": "String"
					},
					{
						"name": "MANUAL_TC_REASON",
						"type": "String"
					},
					{
						"name": "FISCAL_INCENTIVE",
						"type": "String"
					},
					{
						"name": "TAX_SUBJECT_ST",
						"type": "String"
					},
					{
						"name": "FISCAL_INCENTIVE_ID",
						"type": "String"
					},
					{
						"name": "/BEV1/NEGEN_ITEM",
						"type": "String"
					},
					{
						"name": "/BEV1/NEDEPFREE",
						"type": "String"
					},
					{
						"name": "/BEV1/NESTRUCCAT",
						"type": "String"
					},
					{
						"name": "ADVCODE",
						"type": "String"
					},
					{
						"name": "BUDGET_PD",
						"type": "String"
					},
					{
						"name": "EXCPE",
						"type": "String"
					},
					{
						"name": "FMFGUS_KEY",
						"type": "String"
					},
					{
						"name": "IUID_RELEVANT",
						"type": "String"
					},
					{
						"name": "MRPIND",
						"type": "String"
					},
					{
						"name": "ZZ_CATALOGID",
						"type": "String"
					},
					{
						"name": "ZZ_CATALOGITEM",
						"type": "String"
					},
					{
						"name": "REFSITE",
						"type": "String"
					},
					{
						"name": "REF_ITEM",
						"type": "String"
					},
					{
						"name": "SOURCE_ID",
						"type": "String"
					},
					{
						"name": "SOURCE_KEY",
						"type": "String"
					},
					{
						"name": "PUT_BACK",
						"type": "String"
					},
					{
						"name": "POL_ID",
						"type": "String"
					},
					{
						"name": "CONS_ORDER",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}